@model InventoryManagementSystem.Models.Purchase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Purchase Product Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Product Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_prod)
        </dd>

        <dt>
            @Html.DisplayName("Product Quantity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_qnty)
        </dd>

        <dt>
            @Html.DisplayName("Product Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_price)
        </dd>

        <dt>
            @Html.DisplayName("Purchase Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Purchase", new { id = Model.id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Cancel", "DisplayPurchase", "Purchase", new { @class = "btn btn-danger" })
</p>
